body{
    
    min-height: 100vh;
    background: black;
    display: flex;
    
    justify-content: center;
    
}
p{
    
    
    color: antiquewhite;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    display: flex;
    align-items:center;
    opacity: 70%;
    z-index: 1;
       
}
img{
    
    position: fixed;
    bottom: 0;
    left: 0;
    animation-name: fly;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
@keyframes fly{
    0%{
    
        bottom:0%;
        left: 0%;
    }
    100%{
        bottom:100%;
        left: 100%;
    }
}
@media screen and (max-width:1200px){
    p{
        writing-mode: vertical-lr;
    }
    img{
        width: 10em;
    }

}